mistral-7b-instruct-v0.2.Q4_K_M.gguf
mistral-7b-instruct-v0.2.Q4_K_S.gguf
AI Planet - Full-stack AI - Assignment.pdf
chat_logic.py
chat_logic.ipynb
demo (copy).mp4
index_helper.ipynb
llama_index_helper2.py
streamlit_app.py
.venv
test.py